.textStyle {
    color: #dc3545;
    word-wrap: break-word;
    text-align: center;
    width: 10px;
}

.p1{
    color: #007bff;
}

.textProfile{
    text-transform: uppercase;
    font-size: larger;
}

.infoProfile{
    max-width: 800px;
    height: 300px;
    margin-right: auto;
    align-items: center;
    display: block;
    padding-top: 30px;
}
