.textStyle {
    color: #dc3545;
    word-wrap: break-word;
    text-align: center;
    width: 10px;
}

.p1{
    color: #007bff;
}

.divProfile{
    text-transform: uppercase;
    font-size: larger;
}

.infoProfile{
    max-width: 800px;
    height: 300px;
    margin-right: auto;
    align-items: center;
    display: block;
    padding-top: 30px;
}

.btnAddAtt{
    border-radius: 5px;
    border: 0;
    width: 200px;
    height:40px;
    font-family: Tahoma, serif;
    /*background: #f4f4f4;*/
    background: var(--primary-color);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);*/
    /* IE6-9 */
    color: #fff;
}

.textProfile{
    color: var(--dark-color);
}