.background-hover{
    background: cadetblue;
}

.subjectTableId{
    max-width: 50%;
    margin-right: 100px;
    display: flex;
}

#gradeTableId{
    /*max-width: 70%;*/
}

.tableHead{
    background: var(--dark-color);
    background-color: var(--dark-color);
}